<link
  rel="stylesheet"
  href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"
/>
<link
  rel="stylesheet"
  href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
/>
{% extends 'base.html' %} {% block content %}
<!-- component -->
<!-- prettier-ignore -->
<section>
  <div class="w-full lg:w-4/12 px-4 mx-auto pt-6">
    <div
      class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
    >
      <div class="rounded-t mb-0 px-6 py-6"><p>Activated</p>
    </div>
  </div>
</section>
<!-- prettier-ignore -->
{% endblock %}
