{% extends "base.html" %}
<!-- prettier-ignore -->
{% block body %}

<!-- component -->
<div class="bg-gray-50 dark:bg-gray-900 h-screen pt-20">
  <section>
    <div class="w-full lg:w-4/12 px-4 mx-auto pt-6">
      <div>
        <!-- prettier-ignore -->
        <div class="w-full lg:max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow-xl dark:bg-gray-800">
          <!-- prettier-ignore -->
          <h2 class="text-2xl font-bold text-gray-900 dark:text-white">Sign in to {{ config.APP_NAME }}</h2>
          <!-- prettier-ignore -->
          <form class="mt-8 space-y-6 from" role="form" action="{{ url_for('auth.login') }}" method="post">
            {{ form.hidden_tag() }}
            <div>
              <!-- prettier-ignore -->
              {{form.user_id.label(class='block mb-2 text-sm font-medium text-gray-900 dark:text-white')}}
              {{form.user_id(class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500')}}
            </div>
            <div>
              <!-- prettier-ignore -->
              {{form.password.label(class='block mb-2 text-sm font-medium text-gray-900 dark:text-white')}}
              {{form.password(class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500')}}
            </div>

            <div class="flex items-start">
              <!-- <div class="flex items-center h-5">
                <input id="remember" aria-describedby="remember" name="remember" type="checkbox" class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600" required/>
              </div>
              <div class="ml-3 text-sm">
                <label for="remember" class="font-medium text-gray-500 dark:text-gray-400">Remember this device</label>
              </div> -->
              <!-- prettier-ignore -->
              <a href="{{ url_for('auth.forgot_pass') }}" class="ml-auto text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">Lost Password?</a>
            </div>
            <!-- prettier-ignore -->
            <button type="submit" class="w-full px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login to your account</button>
            <!-- prettier-ignore -->
            <div class="text-sm font-medium text-gray-900 dark:text-white">Not registered yet? <a class="text-blue-600 hover:underline dark:text-blue-500" href="{{ url_for('auth.register') }}" >Create account</a></div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
{% endblock %}
