<link
  rel="stylesheet"
  href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"
/>
<link
  rel="stylesheet"
  href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
/>
{% extends 'base.html' %} {% block content %}
<!-- prettier-ignore -->
<section class="bg-blueGray-50">
  
  <div class="w-full lg:w-4/12 px-4 mx-auto pt-6">
    <div
      class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
    >
      <div class="rounded-t mb-0 px-6 py-6">
        <div class="text-center mb-3">
          <h6 class="text-blueGray-500 text-sm font-bold">Type your new passwords</h6>
        </div>
        <hr class="mt-6 border-b-1 border-blueGray-300" />
      </div>
      <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <form
          class="form"
          role="form"
          action="{{ url_for('auth.password_recovery',reset_password_uid=unique_id) }}"
          method="post"
        >
        {{ form.hidden_tag() }}
          <div class="relative w-full mb-3">
            {{form.password.label(class='block uppercase text-blueGray-600 text-xs font-bold mb-2')}} {{form.password(class='border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150')}}{% for error
              in form.errors.password %}
              <small class="text-danger">{{error}}</small>
              {% endfor %}
          </div>
          <div class="relative w-full mb-3">
            {{form.password_confirmation.label(class='block uppercase text-blueGray-600 text-xs font-bold mb-2')}} {{form.password_confirmation(class='border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150')}}{% for error
              in form.errors.password_confirmation %}
              <small class="text-danger">{{error}}</small>
              {% endfor %}
          </div>
          <div class="text-center mt-6">
            <button
              class="bg-blue-500 text-black active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
              type="submit"
            >
              Reset password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- prettier-ignore -->
{% endblock %}
