# Put environment variables that hold sensitive data such as passwords here.
# NOTE: This file will not be placed under version control.

SECRET_KEY=<SECRET>

# Database
# Database details for postgres container
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<NEED SET>
POSTGRES_DB=db
LOCAL_DB_PORT=5432

# Database URL to use
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
DEVEL_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@127.0.0.1:${LOCAL_DB_PORT}/${POSTGRES_DB}

# WEB app
LOCAL_WEB_PORT=8000
