@tailwind base;
@tailwind components;
@tailwind utilities;


.text-danger {
    color: red;
}

.htmx-indicator{
    display: none;
}
.htmx-request .htmx-indicator{
    display:inline;
}
.htmx-request.htmx-indicator{
    display:inline;
}