<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ config.APP_NAME }}</title>
    <!-- meta -->
    <meta name="description" content="Simple2B Flask App" />
    <meta name="author" content="Simple2B" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="{{ url_for('static', filename='js/lib/htmx.min.js') }}" type="text/javascript" defer></script>
    <script src="{{ url_for('static', filename='js/lib/response-targets.js') }}" type="text/javascript" defer></script>

    {% block meta %}{% endblock %}

    <!-- styles -->
    <!-- prettier-ignore -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <!-- prettier-ignore -->
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <!-- prettier-ignore -->
    {% block links %}
    {% endblock %}
  </head>

  <body hx-ext="response-targets" class="bg-white dark:bg-gray-800">
    <!-- Header -->
    <!-- prettier-ignore -->
    {% include 'header.html' %}
    <!-- Flash Messages -->
    <!-- prettier-ignore -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <!-- Flash message markup -->
    <!-- prettier-ignore -->
    {% include 'toast.html' %}
    <!-- prettier-ignore -->
    <!-- prettier-ignore -->
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    {% block body %}
    
    <!-- SideBar -->
    <!-- prettier-ignore -->
    {% include 'sidebar.html' %}
    
    <div class="sm:ml-64 mt-14 h-full overflow-x-scroll">
      <!-- Main Content -->
      {% block content %}{% endblock %}
    </div>
    {% endblock %}
    <!-- scripts -->
    
    <!-- prettier-ignore -->
    
  </div>
  <script src="{{ url_for('static', filename='js/base.js') }}" type="text/javascript" defer></script>
  
  <div id="not-found"></div>
  {% include 'spinner.html' %}

  {% block scripts %} {% endblock %}

</body>
</html>
